/* File List */
.file-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  max-width: 740px;
  height: 100%;
  max-height: calc(100dvh - 285px);
  padding-top: 2px;
  border-radius: var(--radius-md);
  overflow-y: auto;
}

@media (min-width: 768px) {
  .file-list {
    max-height: calc(100dvh - 245px);
    padding: 20px;
  }
}
