/* File List */
.file-list {
  list-style: none;
  margin: 0 auto;
  max-width: 740px;
  height: 100%;
  max-height: calc(100dvh - 335px);
  overflow-y: scroll;
  padding-top: 2px;
}

@media (min-width: 768px) {
  .file-list {
    max-height: calc(100dvh - 300px);
    padding: 20px;
  }
}
